@charset 'utf-8';

/* --------- filter category ---------- */
.category-btn {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.category-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
  color: var(--color-dark-gray);
}

.filter-category {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  position: absolute;
  top: 43px;
  left: 0;
  opacity: 0;
  z-index: 15;
  padding: 0;
  transition: var(--mainTransition);
  overflow: hidden;
}

.filter-category.show {
  opacity: 1;
  height: 300px;
}

.category-btn,
.filter-category__link {
  font-size: 14px;
  font-weight: var(--weight-medium);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  position: relative;
  transition: var(--mainTransition);
}

.filter-category__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: var(--font-micro);
  background-color: #eee;
}

.filter-category__link:hover {
  background-color: #ccc;
}
/* ------- end of filter category -------- */

/* ----------- subpage content ----------- */
.sub-page-content {
  margin-top: 104px;
  width: 100%;
}

.sub-page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--font-small);
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.sub-page-title div {
  color: var(--color-dark-gray);
  font-weight: var(--weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-right: 0.6em;
}

.product-list {
  max-width: 1200px;
  margin: 0 auto;
}

.product-item-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  opacity: 1;
  transition: var(--mainTransition);
  padding: 0 1rem;
}

.product-item-wrapper.ani-out {
  opacity: 0;
  transform: scale(0.95) translateY(2em);
}

.product-item {
  position: relative;
  cursor: pointer;
  transition: var(--mainTransition);
  overflow: hidden;
  background-color: var(--color-white);
  padding: 10% 0;
}

.product-item:hover {
  background-color: #eee;
}

.product-item.invisible {
  display: none;
}

.product-img {
  display: block;
  width: 100%;
  transform: scale(0.8);
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  padding: 0.6rem 1.1rem;
  border: none;
  background: var(--color-gray);
  color: var(--color-white);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--mainTransition);
  transform: translateX(101%);
  opacity: 0;
}

.product-item:hover .bag-btn {
  transform: translateX(0%);
  opacity: 1;
}

.product-item-info {
  font-size: var(--font-micro);
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

.product-item-info p {
  margin: 0.5em;
}

.product-item-info__name {
  font-weight: var(--weight-medium);
  color: var(--color-dark-gray);
}

.product-item-info__price {
  color: var(--color-gray);
}

.product-item-colors {
  font-size: var(--font-micro);
  position: absolute;
  bottom: 2.5em;
  right: 2.5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.product-item-colors div {
  width: 0.85em;
  height: 0.85em;
  margin-right: 0.55em;
  border-radius: 50%;
}

.product-item-colors div:nth-child(1) {
  background-color: rgb(218, 218, 218);
}
.product-item-colors div:nth-child(2) {
  background-color: rgb(69, 70, 76);
}
.product-item-colors div:nth-child(3) {
  background-color: rgb(132, 99, 71);
}
.product-item-colors div:nth-child(4) {
  background-color: rgb(172, 151, 103);
}
/* ------- end of subpage content -------- */

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(180, 180, 180, 0.4);
  transition: var(--mainTransition);
  z-index: 11;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 15;
  background: var(--color-white);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
  color: var(--color-dark-gray);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  font-weight: var(--weight-medium);
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: var(--color-dark-gray);
  font-size: var(--font-small);
  letter-spacing: 0;
  cursor: pointer;
  transition: var(--mainTransition);
}

.remove-item:hover,
.xi-angle-up-min:hover,
.xi-angle-down-min:hover {
  color: #ddd;
}
.xi-angle-up-min,
.xi-angle-down-min {
  color: var(--color-dark-gray);
  cursor: pointer;
  transition: var(--mainTransition);
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-footer h3 {
  font-size: var(--font-small);
  text-transform: capitalize;
  margin-bottom: 1.3rem;
}

.banner-btn {
  margin: 0.35rem;
  width: 190px;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--font-micro);
  background: var(--color-light-gray);
  color: var(--color-dark-gray);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: var(--color-dark-gray);
  color: var(--color-white);
}
/* --------------- End of Cart ---------------- */

/* ------------ media query ------------ */
@media screen and (min-width: 768px) {
  .category-btn span {
    font-size: var(--font-small);
  }

  .filter-category__link {
    font-size: var(--font-small);
  }

  .sub-page-title {
    font-size: var(--font-regular);
  }

  .product-item-wrapper {
    padding: 0 1.5rem;
  }

  .product-item-info {
    font-size: var(--font-small);
  }

  .cart {
    width: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .category-btn {
    display: none;
  }

  .filter-category {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    opacity: 1;
    height: 100%;
  }

  .filter-category.show {
    height: 100%;
  }

  .filter-category__link {
    display: inline-flex;
    font-size: 14px;
    font-weight: var(--weight-medium);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: var(--mainTransition);
    background: none;
    padding: 0;
  }

  .filter-category__link:hover {
    background: none;
  }

  .mark {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 4px;
    background-color: var(--color-dark-gray);
    transition: var(--mainTransition);
  }

  .sub-page-title {
    font-size: 20px;
    padding: 1.5em 1em;
  }

  .product-item-info {
    font-size: var(--font-small);
  }
}
/* --------- end of media query ----------- */
