@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  word-wrap: break-word;
}
body {
  -webkit-font-smoothing: antialiased;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
div,
span,
article,
section,
header,
footer,
aside,
p,
ul,
li,
fieldset,
legend,
label,
a,
nav,
form {
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------ user custom -------------- */
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

button {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-dark-gray);
  cursor: pointer;
}

/* 가로 스크롤 방지 */
.container {
  overflow-x: hidden;
}

:root {
  /* color */
  --color-white: #fafafa;
  --color-light-gray: #dbdbdb;
  --color-gray: #a4a4a4;
  --color-dark-gray: #707070;

  /* font size */
  --font-xlarge: 30px;
  --font-large: 25px;
  --font-regular: 18px;
  --font-small: 15px;
  --font-micro: 12px;

  /* font weight */
  --weight-thin: 100;
  --weight-xlight: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* transition */
  --mainTransition: all 0.3s linear;
}
/* ------------ end of user custom -------------- */
