@charset 'utf-8';

body {
  height: 100vh;
  overflow: hidden;
  background: url("../images/etc/bcg.jpg") no-repeat center;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 35px;
  color: var(--color-white);
  z-index: 5;
  cursor: pointer;
}

/* -------------- login form -------------- */
.form-wrapper {
  position: relative;
  z-index: 2;
}

.form-wrapper h1 {
  font-size: var(--font-xlarge);
  color: var(--color-white);
  text-align: center;
  letter-spacing: 0.1em;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------- input-area -------------- */
.input-area {
  position: relative;
  width: 70vw;
  margin-top: 12%;
}

.input-area input {
  width: 100%;
  background-color: transparent;
  padding: 10px 0 2px;
  border: none;
  border-bottom: 1px solid var(--color-dark-gray);
  font-size: var(--font-small);
  color: var(--color-white);
  outline: none;
}

.input-area.success input {
  border-color: #2ecc71;
}

.input-area.error input {
  border-color: #e74c3c;
}

.input-area label {
  position: absolute;
  top: 0.5em;
  left: 0px;
  font-size: var(--font-micro);
  color: var(--color-light-gray);
  letter-spacing: 0.05em;
  transition: var(--mainTransition);
}

.input-area input:focus + label,
.input-area input:valid + label {
  top: -8px;
  font-size: 10px;
  color: var(--color-gray);
}

.input-area.error label {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
}
@keyframes warning {
  0%,
  50% {
    transform: translateX(-4px);
  }
  30%,
  75% {
    transform: translateX(4px);
  }
}

.input-area i {
  visibility: hidden;
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.input-area.success i.xi-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.input-area.error i.xi-error {
  color: #e74c3c;
  visibility: visible;
}

.input-area small {
  font-size: 11px;
  color: #e74c3c;
  position: absolute;
  bottom: -1rem;
  left: 2px;
  visibility: hidden;
  letter-spacing: -0.05em;
}

.input-area.error small {
  visibility: visible;
}

/* ------------ end of input-area ----------- */

/* ---------------- btn-area ---------------- */
.btn-area {
  margin-top: 45px;
}

#btn {
  width: 70vw;
  height: 2.5em;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  border: none;
  border-radius: 30px;
  font-size: var(--font-small);
  cursor: pointer;
  transition: var(--mainTransition);
}

#btn:hover {
  background-color: var(--color-gray);
}
/* ------------- end of btn-area -------------- */

/* ----------------- caption ------------------ */
.caption {
  margin-top: 35px;
  text-align: center;
}

.caption a {
  display: block;
  margin-bottom: 1em;
  font-size: var(--font-micro);
  color: var(--color-light-gray);
  text-decoration: none;
  transition: var(--mainTransition);
}

.caption a:hover {
  color: var(--color-dark-gray);
}
/* -------------- end of caption ---------------- */

/* ----------------- sns login ------------------ */
.sns-login {
  color: var(--color-light-gray);
  margin-top: 50px;
  text-align: center;
  font-size: var(--font-micro);
  letter-spacing: 0.1em;
}

.sns-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 1.5em 0.5em;
  background-color: var(--color-dark-gray);
  transition: var(--mainTransition);
}

.sns-icon:hover {
  background-color: var(--color-gray);
}

.sns-icon i {
  font-size: var(--font-regular);
  color: var(--color-white);
}

/* ------------- end of sns login -------------- */

/* ------------- end of login form -------------- */

.copyright {
  color: var(--color-white);
  font-size: var(--font-micro);
  z-index: 5;
  position: absolute;
  bottom: 30px;
}

/* ------------ media query ------------ */
@media screen and (min-width: 768px) {
  .back {
    top: 50px;
    left: 50px;
    font-size: 45px;
  }

  .form-wrapper h1 {
    font-size: 2.5em;
  }

  .input-area {
    width: 400px;
    margin-top: 15%;
  }

  .input-area input {
    padding: 5px 0;
    font-size: var(--font-regular);
  }

  .input-area label {
    top: 0;
    font-size: var(--font-regular);
  }

  .input-area input:focus + label,
  .input-area input:valid + label {
    top: -15px;
    font-size: var(--font-small);
  }

  .input-area i {
    font-size: 23px;
    top: -0.2rem;
  }

  .input-area small {
    font-size: var(--font-small);
    bottom: -1.2rem;
  }

  .btn-area {
    margin-top: 55px;
  }

  #btn {
    width: 400px;
    height: 50px;
    font-size: 20px;
  }

  .caption {
    margin-top: 40px;
    text-align: center;
  }

  .caption a {
    font-size: var(--font-small);
  }

  .sns-login {
    margin-top: 80px;
    font-size: var(--font-regular);
  }

  .sns-icon {
    width: 44px;
    height: 44px;
    margin: 1.5em 0.5em;
  }

  .sns-icon i {
    font-size: var(--font-large);
  }

  .copyright {
    font-size: var(--font-small);
    bottom: 45px;
  }
}
/* --------- end of media query ----------- */
