@charset 'utf-8';

/* MAIN */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fefefe;
}

/* LOGO */
#main-logo {
  position: absolute;
  top: 5%;
  left: 5%;
}

/* MENU */
label {
  cursor: pointer;
}
#main-menu {
  position: absolute;
  top: 5%;
  right: 4%;
  cursor: pointer;
  z-index: 20;
}

/* RIPPLE */
.ripple {
  width: 60vw;
  height: 60vw;
  background-color: #fefefe;
  border-radius: 50%;
  box-shadow: 8px 8px 10px #00000030, -8px -8px 10px #fff,
    inset 8px 8px 10px #00000030, inset -8px -8px 10px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}
.ripple1 {
  animation: ripple 6s infinite ease-in-out;
}
.ripple2 {
  animation: ripple 6s 1.5s infinite ease;
}
.ripple3 {
  animation: ripple 6s 3s infinite ease-out;
}
.ripple4 {
  animation: ripple 6s 3.5s infinite ease-in-out;
}

@keyframes ripple {
  0%,
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

/* TITLE */
.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 2.5;
}

.main-title__text {
  color: var(--color-dark-gray);
  font-weight: var(--weight-medium);
  letter-spacing: 1em;
  font-size: 1em;
  text-align: center;
}

/* TABLET (768px ~ 1023px) */
@media screen and (max-width: 1023px) {
  .ripple {
    width: 100vw;
    height: 100vw;
  }

  #main-logo img,
  #main-menu img {
    width: 90%;
  }

  .main-title {
    font-size: 15px;
  }
}

/* MOBILE ( ~ 767px) */
@media screen and (max-width: 767px) {
  .ripple {
    width: 100vw;
    height: 100vw;
  }

  #main-logo img,
  #main-menu img {
    width: 60%;
  }

  .main-title {
    font-size: var(--font-micro);
  }
}
