@charset 'utf-8';

/* GLOBAL */
:root {
  /* COLOR */
  --color-white: #fafafa;
  --color-light-gray: #dbdbdb;
  --color-gray: #a4a4a4;
  --color-dark-gray: #707070;

  /* FONT SIZE */
  --font-xlarge: 30px;
  --font-large: 25px;
  --font-regular: 18px;
  --font-small: 15px;
  --font-micro: 12px;

  /* FONT WEIGHT */
  --weight-thin: 100;
  --weight-xlight: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
}

ul,
li,
a {
  text-decoration: none;
}

a {
  color: var(--color-dark-gray);
}
