/* 서브 페이지 공통 요소 (sidebar, arrow up, sticky navbar) */

@charset 'utf-8';

/* -------------- sidebar -------------- */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(180, 180, 180, 0.4);
  transition: all 0.35s;
  z-index: 11;
  visibility: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 15;
  background: #fff;
  transition: 0.5s ease;
  transform: translateX(-100%);
}

.showSidebar {
  transform: translateX(0);
}

.transparentBg {
  visibility: visible;
}

.sidebar__close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  font-size: var(--font-large);
  color: var(--color-dark-gray);
  cursor: pointer;
}

.sidebar__links,
.sidebar__links2 {
  display: flex;
  flex-direction: column;
}

.sidebar__links {
  margin: 5.5em 1.5em 1.5em;
}

.sidebar__links2 {
  margin-left: 1.5em;
}

.sidebar__links > li > a,
.sidebar__links2 > li > a {
  display: block;
  color: var(--color-dark-gray);
  transition: 0.35s;
}

.sidebar__links > li > a {
  margin: 0.5em;
  font-size: var(--font-regular);
}

.sidebar__links2 > li > a {
  margin: 0.5em;
  font-size: var(--font-small);
}

.sidebar__links > li:hover > a,
.sidebar__links2 > li:hover > a {
  color: #ddd;
}
/* ---------- end of sidebar ---------- */

/* ---------- global navbar ---------- */
.global-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  z-index: 10;
}

.global-nav-center {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 8px;
  cursor: pointer;
}
.menu-bar div {
  width: 100%;
  height: 1px;
  background-color: var(--color-dark-gray);
}

.global-nav-center img {
  cursor: pointer;
  width: min(50vw, 200px);
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  font-size: var(--font-large);
  color: var(--color-dark-gray);
}

.cart-items {
  position: absolute;
  top: -6px;
  right: -7px;
  background: var(--color-gray);
  padding: 0 4px;
  border-radius: 30%;
  color: var(--color-white);
  font-size: var(--font-micro);
}
/* ---------- end of global navbar ---------- */

/* --------------- local navbar -------------- */
.local-nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  border: 1px solid var(--color-light-gray);
  border-left: 0;
  border-right: 0;
  z-index: 10;
}

.sticky-nav .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}
/* ---------- end of local navbar ---------- */

/* ---------------- footer ----------------- */
#footer {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding: 1em;
  background-color: #fafafa;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.footer-list {
  display: block;
  margin-top: 0;
  padding: 0 1em;
}

.footer-section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 20px 0;
}

.footer-logo {
  display: block;
  padding-left: 5px;
  margin-bottom: 10px;
  width: 55px;
}

.country-menu,
.lang-menu {
  position: relative;
}

.country-menu {
  margin-bottom: 30px;
}

.lang-menu {
  margin-bottom: 0;
}

.selected-country,
.selected-lang {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: var(--color-dark-gray);
  margin-top: 6px;
  line-height: 28px;
}
.selected-country {
  width: 85px;
}

.selected-lang {
  width: 95px;
}

.selected-country::before,
.selected-lang::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-size: cover;
}

.selected-country::before {
  background-image: url("../images/etc/flag_korea.png");
}

.selected-lang::before {
  background-image: url("../images/etc/flag_usa.png");
}

.country-menu ul,
.lang-menu ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 0 1px 10px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  transition: all 0.5s;
  position: absolute;
  top: 50px;
  left: -10px;
  z-index: 1;
}

.country-menu:hover ul,
.lang-menu:hover ul {
  display: block;
}

.country-menu li,
.lang-menu li {
  display: flex;
  justify-content: space-between;
}

.country-menu a,
.lang-menu a {
  width: 140px;
  display: block;
  padding: 5px 10px;
}

.country-menu a::before,
.lang-menu a::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  vertical-align: middle;
  background-size: cover;
}

.country-menu a:hover,
.lang-menu a:hover {
  background-color: #f2f2f2;
}

.cn::before {
  background-image: url("../images/etc/flag_china.png");
}

.dn::before {
  background-image: url("../images/etc/flag_denmark.png");
}

.kr::before {
  background-image: url("../images/etc/flag_korea.png");
}

.us::before {
  background-image: url("../images/etc/flag_usa.png");
}

input[id*="footer__"] {
  display: none;
}

.country-menu,
.lang-menu,
input[id*="footer__"] + label {
  text-transform: uppercase;
  color: var(--color-dark-gray);
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
}

input[id*="footer__"] + label {
  display: block;
  padding: 1em 0;
  cursor: pointer;
  position: relative;
}

input[id*="footer__"] + label i {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-left: 0.5em;
  transition: all 0.35s;
}

input[id*="footer__"]:checked + label i {
  transform: rotate(540deg);
}

input[id*="footer__"] + label + div {
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: all 0.35s;
  overflow: hidden;
  border-bottom: 1px solid var(--color-gray);
  padding-top: 0;
}

input[id*="footer__"]:checked + label + div {
  max-height: 200px;
  padding: 0.5em;
  border-top: 1px solid var(--color-light-gray);
}

input[id*="footer__"] + label + div a {
  font-size: var(--font-micro);
  margin: 0.5em 0;
}

input[id*="footer__"] + label + div a:hover {
  color: var(--color-gray);
}

.sns {
  margin-top: 2em;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.sns i {
  font-size: 20px;
}

.sns i:hover {
  color: var(--color-gray);
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: var(--color-gray);
  margin: 2em 0;
}
/* ---------- end of footer ---------- */

/* ------------ arrow up -------------- */
.arrow-up {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.4em 0.45em;
  font-size: var(--font-large);
  color: var(--color-white);
  background-color: var(--color-dark-gray);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
/* ---------- end of arrow up ---------- */

/* ------------ media query ------------ */
@media screen and (min-width: 768px) {
  .sidebar {
    width: 440px;
  }

  .sidebar__links {
    margin: 7em 1.5em 2em;
  }

  .sidebar__links2 {
    margin-left: 1.5em;
  }

  .sidebar__links > li > a {
    font-size: var(--font-large);
  }

  .sidebar__links2 > li > a {
    font-size: var(--font-regular);
  }

  .global-nav {
    padding: 0 1.5rem;
  }

  #footer {
    padding: 2em 1em;
  }

  .footer-wrapper {
    padding: 0 10px;
    max-width: 1150px;
  }

  .footer-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
  }

  .footer-section1 {
    height: 130px;
    margin: 0;
  }

  input[id*="footer__"],
  input[id*="footer__"] + label i {
    display: none;
  }

  input[id*="footer__"] + label {
    font-size: 13px;
    padding-top: 0;
  }

  input[id*="footer__"] + label + div {
    max-height: 200px;
    border-bottom: none;
  }

  input[id*="footer__"] + label + div a {
    margin: 0.3em;
  }

  .sns {
    margin: 2em 0;
  }

  .copyright {
    font-size: var(--font-micro);
  }
}
/* --------- end of media query ----------- */
