@charset 'utf-8';

/* loading, navigation, arrow up, footer 등 서브 페이지에 공통되는 요소에 대한 CSS 파일 */

/* 가로 스크롤 방지 (iPhone) */
.container {
  overflow-x: hidden;
}

/* GLOBAL NAVIGATION */
.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  z-index: 20;
}

.global-nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* SIDEBAR MENU ICON  */
.global-nav label {
  width: 30px;
  height: 10px;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.global-nav label div {
  z-index: 20;
  width: 100%;
  height: 2px;
  background: var(--color-gray);
  transition: all 0.5s;
}

input[id="sidebar"]:checked + .global-nav label div:nth-child(1) {
  transform: translateY(3px) rotate(405deg);
  width: 80%;
}

input[id="sidebar"]:checked + .global-nav label div:nth-child(2) {
  transform: translateY(-5px) rotate(-405deg);
  width: 80%;
}

/* LOCAL NAVIGATION */
.local-nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  z-index: 10;
}

.sticky-nav .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

/* ARROW UP */
.arrow-up {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.4em 0.45em;
  font-size: var(--font-large);
  color: var(--color-white);
  background-color: var(--color-dark-gray);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* MOBILE ( ~ 767px) */
@media screen and (max-width: 767px) {
  input[id="sidebar"] + .global-nav label {
    width: 25px;
    height: 8px;
  }

  input[id="sidebar"]:checked + .global-nav label div:nth-child(1) {
    transform: translateY(2px) rotate(405deg);
  }

  input[id="sidebar"]:checked + .global-nav label div:nth-child(2) {
    transform: translateY(-4px) rotate(-405deg);
  }

  .global-nav__content a:first-of-type img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
}
